@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap'); 
/* font-family: 'Roboto Mono', monospace; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: #24252a;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.box {
    border: 10px solid blue;
    width: 40%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.error-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0000;
}

label, input{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: auto;
}   

#username, #email, #psw, #psw_repeat {
    background-color: #ffffff;
    border-color: #ffffff;
    width: 80%;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.form-btn {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0S;
    font-weight: bold;
    margin-top: 10px;
}

.form-btn:hover {
    background-color: rgb(5, 167, 207);
}

.text-login {
    font-size: 15px;
}

.text-login a {
    color: #00aeff;
    font-size: 15px;
}